body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #cacaca;
}

header {
    background-color: #272727;
    color: rgb(231, 231, 231);
    padding: 20px;
    font-size: 22px;
    text-shadow: 
        2px 2px 0px black,
        -2px -2px 0px black,
        2px -2px 0px black,
        -2px 2px 0px black;
        margin-bottom: 0;
}

nav {
    background-color: #181818;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
}


img {
    max-width: 100%;
    border-radius: 20px;
}

.about-text-size {
    font-size: 19px;
}

.price {
    color: green;
}

.box {
    margin: 20px; 
    padding: 10px; 
    border-radius: 5px;
    font-size: 18px;      
}

.button {
    padding: 20px 150px;
    background-color: #181818;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
    transform: scale(1.1);
}

.button:active {
    transform: scale(1);
}

.full-screen-image {
    width: 60vw;
    height: 80vh;
    object-fit: cover;
    margin-top: 20px;
}

.support-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    background-color: #181818;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.support-button:hover {
    transform: scale(1.1);
    background-color: #000000;
}

.support-menu {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    width: 200px;
}

.support-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.support-menu li {
    padding: 8px 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.support-menu li:last-child {
    border-bottom: none;
}
